<p id="notice"><%= notice %></p>

<p>
  <b><%= @adventure.name.capitalize %> -- </b>
  <%= @adventure.description %>
</p>

<p>
  Projects:
  <ul>
    <% @adventure.projects.each do |p| %>
    <li>
      <%= link_to p.name, p %>
    </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Back', adventures_path %> |
<%= link_to 'Edit', edit_adventure_path(@adventure) %>
