<p id="notice"><%= notice %></p>

<% content_for :title do %>
  <%= @adventure.name.capitalize %>
<% end %>

<%= textilize(@adventure.description).html_safe %>

<p>
  Projects:
  <ul>
    <% @adventure.projects.each do |p| %>
    <li>
      <%= link_to p.name, p %>
    </li>
    <% end %>
  </ul>
</p>

<div class="comments">
  <b>comments:</b>
  <% @adventure.comments.each do |c| %>
  <p><%= c.content %></p>
  <% end %>
  <%= link_to "Add Comment", new_adventure_comment_path(@adventure) %>
</div>

<%= link_to 'Back', adventures_path %> |
<%= link_to 'Edit', edit_adventure_path(@adventure) %>
