<p id="notice"><%= notice %></p>

<p>
  <%= link_to @project.adventure, @project.adventure %> Project: <b><%= @project.name %></b>
</p>

<p>
  <%= textilize(@project.content).html_safe %>
</p>

<% @project.solutions.each do |s| %>
<p>
  See <%= link_to "Solution #{s.id}", s %>
</p>
<% end %>

<%= link_to "Back to #{@project.adventure} projects", @project.adventure %> |
<%= link_to 'Edit', edit_project_path(@project) %>
