<p id="notice"><%= notice %></p>

<div class="project">
  <h1>
    <%= link_to @project.adventure, @project.adventure %> Project: <b><%= @project.name %></b>
  </h1>

  <p>
    <%= textilize(@project.content).html_safe %>
  </p>

  <div class="solutions">
    <% @project.solutions.each_with_index do |s, i| %>
    <p>
      See <%= link_to "Solution #{i+1}", s %>
    </p>
    <% end %>
  </div>

  <div style="clear: both">&nbsp;</div>

</div>


<div class="comments">
  <b>comments:</b>
  <% @project.comments.each do |c| %>
  <p><%= c.content %></p>
  <% end %>
  <%= link_to "Add Comment", new_project_comment_path(@project) %>
</div>

<%= link_to "Back to #{@project.adventure} projects", @project.adventure %> |
<%= link_to 'Edit', edit_project_path(@project) %>
