<p id="notice"><%= notice %></p>

<% content_for :title do %>
  <%= @project.adventure %> project: <b><%= @project.name %></b>
<% end %>

<div class="project">
  <p>
    <%= textilize(@project.content).html_safe %>
  </p>

  <div class="solutions">
    <% @project.solutions.each_with_index do |s, i| %>
    <p>
      See <%= link_to "Solution #{i+1}", s %>
    </p>
    <% end %>
  </div>

  <div style="clear: both">&nbsp;</div>

</div>

<% if @completed %>
<div class="completed">
  You completed this project on <%= @completed.updated_at %>
  <%= link_to "Mark as Not Finished", unmark_complete_project_path, :method => :post %>
</div>
<% else %>
<div class="not completed">
  When you think you have completed this project:
  <%= link_to "Mark as Finished", mark_complete_project_path, :method => :post %>
</div>
<% end %>

<div class="prereqs">
  <% if @project.prereqs.blank? %>
  There are no prerequisite lessons
  <% else %>
  If you are stuck on this, you can go back to:
  <ul>
    <% @project.prereqs.each do |p| %>
    <li><%= link_to p,p %></li>
    <% end %>
  </ul>
  Or add a comment with your question or broken code.
  <% end %>
</div>
<div style="clear:both"></div>

<%= comments_for @project %>

<%= link_to 'Edit', edit_project_path(@project) %>
