<p id="notice"><%= notice %></p>

<p>
  <%= @project.adventure %>: <b><%= @project.name %></b>
</p>

<p>
  <%= @project.content %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
