<p id="notice"><%= notice %></p>

<% content_for :title do %>
  <%= @project.adventure %> project: <b><%= @project.name %></b>
<% end %>

<div class="project">
  <% if @completed %>
  <div class="completed">
    You completed this project on <%= @completed.updated_at %>
    <%= link_to "Mark as Not Completed", unmark_complete_project_path, :method => :post %>
  </div>
  <% else %>
  <div class="not completed">
    <%= link_to "Mark as Completed", mark_complete_project_path, :method => :post %>
  </div>
  <% end %>

  <p>
    <%= textilize(@project.content).html_safe %>
  </p>

  <div class="solutions">
    <% @project.solutions.each_with_index do |s, i| %>
    <p>
      See <%= link_to "Solution #{i+1}", s %>
    </p>
    <% end %>
  </div>

  <div style="clear: both">&nbsp;</div>

</div>


<div class="comments">
  <b>comments:</b>
  <% @project.comments.each do |c| %>
  <div class="comment <%= cycle('odd', 'even') %>">
    <strong>Tue May  3 16:41:18 PDT 2011</strong>
    <p><%= c.content %></p>
  </div>
  <% end %>
  <%= link_to "Add Comment", new_project_comment_path(@project) %>
</div>

<%= link_to 'Edit', admin_edit(@project) %>
