<div id="sidebar" class="left">
  <%= @completed %>
  <h2>available lessons</h2>

  <% if @available.blank? %>
  there is nothing you can do!
  <% else %>
  <ul>
    <% @available.each do |l| %>
    <li>
      <% if ("current" if l == @lesson) %>
      <span class="current"><%= l.name %></span>
      <% else %>
      <%= link_to (l ? l.name : "dead link"), l %>
      <% end %>
    </li>
    <% end %>
  </ul>
  <% end %>

  <h2>All lessons</h2>

  <% if @lessons.blank? %>
  no lessons
  <% else %>
  <ul>
    <% @lessons.each do |l| %>
    <li>
      <% if ("current" if l == @lesson) %>
      <span class="current"><%= l.name %></span>
      <% else %>
      <%= link_to l.name, l %>
      <% end %>
    </li>
    <% end %>
  </ul>
  <% end %>
</div>
