<div class="edit">
  <%= link_to "Edit", edit_lesson_path(@lesson) %> |
  <%= link_to "Couch", "http://localhost:5984/_utils/document.html?indirect_development_db/#{@lesson.id}" %>
</div>

<h1 class="title"><%= @lesson.name %></h1>

<div id="dependencies">
  Do these lessons first: 
  <% @prerequisites.each do |p| %>
    <%= link_to p && p.pretty_name, p %>
  <% end %>
  <br />
  Do these lessons next:
  <% @next.each do |n| %>
    <%= link_to n && n.pretty_name, n %>
  <% end %>
</div>

<div class="body">
  <%= safe_textilize(@lesson.body) %>
</div>

<%= form_tag completed_path, :remote => false, :id => 'completed' do %>
  <%= hidden_field_tag :id, @lesson.id %>
  <% if !current_user.completed?(@lesson.id) %>
    <%= hidden_field_tag :completed, "1" %>
    <%= submit_tag 'Mark as completed' %>
  <% else %>
    <%= hidden_field_tag :completed, "0" %>
    <%= submit_tag 'Mark as not completed' %>
  <% end %>
<% end %>

