<div class="edit">
  <%= link_to "Edit", edit_lesson_path(@lesson) %> |
  <%= link_to "Couch", "http://localhost:5984/_utils/document.html?indirect_development_db/#{@lesson.id}" %>
</div>

<h1><%= textilize(@lesson.name).html_safe %></h1>

<div id="dependencies">
  Prerequisites: 
  <% @prerequisites.each do |p| %>
    <%= link_to p && p.pretty_name, p %>
  <% end %>
</div>

<div class="body">
  <%= textilize(@lesson.body).html_safe %>
</div>

<button id="mark_complete">Mark as completed</button>
