<div class="edit">
  <%= link_to "Edit", edit_lesson_path(@lesson) %> |
  <%= link_to "Couch", "http://localhost:5984/_utils/document.html?indirect_development_db/#{@lesson.id}" %>
</div>

<h1><%= textilize(@lesson.name).html_safe %></h1>

<div id="dependencies">
  Prerequisites: 
  <% @prerequisites.each do |p| %>
    <%= link_to p && p.pretty_name, p %>
  <% end %>
</div>

<div class="body">
  <%= textilize(@lesson.body).html_safe %>
</div>

<%= form_tag completed_path, :remote => false, :id => 'completed' do %>
  <%= hidden_field_tag :id, @lesson.id %>
  <% if !current_user.completed?(@lesson.id) %>
    <%= hidden_field_tag :completed, "1" %>
    <%= submit_tag 'Mark as completed' %>
  <% else %>
    <%= hidden_field_tag :completed, "0" %>
    <%= submit_tag 'Mark as not completed' %>
  <% end %>
<% end %>

