<div class="edit">
  <%= link_to "Edit", edit_lesson_path(@lesson) %> |
  <%= link_to "Couch", "http://localhost:5984/_utils/document.html?indirect_development_db/#{@lesson.id}" %> |
  <%= link_to "New", new_lesson_path %>
</div>

<h1 class="title"><%= @lesson.pretty_name %></h1>

<div id="dependencies" class="hackpath">
  Do these lessons first: 
  <% @prerequisites.each do |p| %>
    <%= link_to p && p.pretty_name, p %>
  <% end %>
</div>

<div class="body">
  <%= safe_textilize(@lesson.body) %>
</div>

<!-- <%= form_tag completed_path, :remote => false, :id => 'completed' do %> -->
<!--   <%= hidden_field_tag :id, @lesson.id %> -->
<!--   <% if !current_user.completed?(@lesson.id) %> -->
<!--     <%= hidden_field_tag :completed, "1" %> -->
<!--     <%= submit_tag 'Keep going', :class => 'mark-complete' %> -->
<!--   <% else %> -->
<!--     <%= hidden_field_tag :completed, "0" %> -->
<!--     <%= submit_tag 'Mark as unread', :class => 'mark-incomplete' %> -->
<!--   <% end %> -->
<!-- <% end %> -->

<div id="fromhere" class="hackpath">
  Do these lessons next:
  <% @next.each do |n| %>
    <%= link_to n && n.pretty_name, n %>
  <% end %>
</div>

&nbsp;
