<p id="notice"><%= notice %></p>

<% content_for :title do %>
  Solution to <% @solution.project.adventure %> project:
  <%= link_to @solution.project.name, @solution.project %>
<% end %>

<div class="solution">
  <p>
    <%= textilize(@solution.content).html_safe %>
  </p>
</div>

<%= comments_for @solution %>

<%= link_to 'Edit', admin_edit(@solution) if is_admin? %>
