<p id="notice"><%= notice %></p>

<% content_for :title do %>
  Solution to <% @solution.project.adventure %> project:
  <%= link_to @solution.project.name, @solution.project %>
<% end %>

<div class="solution">
  <p>
    <%= textilize(@solution.content).html_safe %>
  </p>
</div>


<div class="comments">
  <b>comments:</b>
  <% @solution.comments.each do |c| %>
  <p><%= c.content %></p>
  <% end %>
  <%= link_to "Add Comment", new_solution_comment_path(@solution) %>
</div>

<%= link_to 'Edit', admin_edit(@solution) if is_admin? %>
