<p id="notice"><%= notice %></p>

<% content_for :title do %>
  Solution to <%= link_to @solution.project.adventure, @solution.project.adventure %> Project:
  <%= link_to @solution.project.name, @solution.project %>
<% end %>

<div class="solution">
  <p>
    <%= textilize(@solution.content).html_safe %>
  </p>
</div>

<div class="comments">
  <b>comments:</b>
  <% @solution.comments.each do |c| %>
  <p><%= c.content %></p>
  <% end %>
  <%= link_to "Add Comment", new_solution_comment_path(@solution) %>
</div>


<%= link_to 'Back to project', @solution.project %> |
<%= link_to 'Edit', edit_solution_path(@solution) %>
